@{
    ViewData["Title"] = "Play";
}

<div class="top-level-game-index">
    <div id="example" class="col-md-5">
        
    </div>
    <div class="row clearfix">
        <div id="main-chess-table-wrapper" class="col-md-offset-2 col-md-5 table-wrapper">
            
        </div>
        <div class="col-md-3 game-controlls">
            
        </div>
    </div>
</div>
